@import '../../styles/icons';

.h5p-text-dialog .nav-button-wrapper {
  top: -1em;
  right: -1em;
  left: auto;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  border: 8px solid #fff;
  background-color: #ebebeb;
  border-radius: 50%;
  transition: background 0.5s linear;
}

.h5p-text-dialog .outer-nav-button {
  background: transparent;
}

.h5p-text-dialog .nav-button {
  background: transparent;
}

.h5p-text-dialog .nav-button-wrapper:hover {
  background: #d6d6d6;
}

.h5p-text-dialog {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 80%;
  max-height: 90%;
  background: white;
  z-index: 1;
  padding: 2em;
  display: flex;
  box-sizing: border-box;

  .close-button-wrapper {
    line-height: 1;
    position: absolute;
    font-size: 1em;
    box-sizing: content-box;
    width: 2em;
    height: 2em;
    padding: 0;

    top: -1em;
    right: -1em;

    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    border: 8px solid #fff;
    background-color: #ebebeb;
    border-radius: 50%;
    transition: background 0.5s linear;
    z-index: 2;
    cursor: pointer;
  }

  .close-button-wrapper:hover {
    background: #d6d6d6;
  }

  .close-button-wrapper:before {
    font-family: "360-image";
    content: $close;
    vertical-align: text-bottom;
  }

  /**
   * {1} About 50 characters (500px)
   */
  &.h5p-advancedtext {
    max-width: 31.25em; /* {1} */
  }
}
.h5p-medium-tablet-size .h5p-text-dialog {
  width: 86%;
  margin: 0;
  padding: 0.25em;
}
.h5p-text-content {
  flex: 1;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  padding: 0 1em;
}
.h5p-text-content::-webkit-scrollbar {
  width: 0.5em;
  background: #fff;
}
.h5p-text-content::-webkit-scrollbar-thumb {
  background: #ddd;
}
.h5p-text-content::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.h5p-text-content::-webkit-scrollbar-thumb:active,
.h5p-text-content::-webkit-scrollbar-thumb:focus {
  background: #888;
}

.h5p-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 4;
}
