.h5p-text-content > .h5p-image {
  position: initial;
  top: initial;
  left: initial;
  transform: initial;
  zoom: initial;
  height: 100%;
  width: 100%;
}
.h5p-text-content > .h5p-image > img {
  margin: 0 auto;
}

.h5p-text-content > .h5p-video {
  overflow: hidden;
}

.h5p-text-dialog.h5p-video .h5p-text-content {
  height: 100%;
  overflow: hidden;
}
