@import '../../styles/colors';
@import '../../styles/icons';

.h5p-password-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0.5em auto 0 auto;

  .h5p-password-icon-wrapper {
    background-color: $activeBorder;
    height: 72px;
    width: 72px;
    display: flex;
    border-radius: 50%;
    transition: background-color .5s ease-in-out;
    &--wrong-code {
      background-color: #bf3c3c;
    }
    &--correct-code {
      background-color: #3e803e;
    }

    .h5p-password-icon {
      font-size: 3em;
      color: white;
      font-family: "360-image";
      margin: auto;
      position: relative;
      &:before {
        content: $unlock-icon;
      }
      &:after {
        position: absolute;
        content: "";
        transition: top .2s ease-in-out;
        width: 5px;
        top: 0;
        height: 13px;
        right: 11px;
        background-color: white;

      }
      &--shake {
        animation: shake 0.5s;
      }
    }
    .locked {
      &:after {
        top: 0;
      }
    }
    .unlocked {
      animation: dipDown 0.3s;

      &:after {
        top: 13px;
      }
    }
  }

  .h5p-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-inner {
      display: flex;
      margin: 0.5em auto;

      .h5p-password-show-btn {
        padding: 0.5em;
        font-size: .75em;
        min-width: 7em;

        max-width: 8em;
        margin: 0 auto 0 .25em;
        font-weight: bold;
        &:hover {
          color: $labelColor;
        }
        &-is-shown {
          border: 1px solid $interactionBg;
          background-color: rgba(0,0,0,0);
          color: $interactionBg;
          font-weight: bold;
          transition: all .15s;
        }
      }
    }
  }
  .h5p-field-description {
    display: block;
    margin-bottom: .5em;
    font-weight: 600;
    font-size: 1em;
    color: #454347;
    &--wrong-code {
      color: #bf3c3c;
    }
    &--correct-code {
      color: #3e803e;
    }
  }
  .h5p-field-text {
    font-size: 1em;
    font-weight: 500;
    color: #434446;
    line-height: 1em;
    max-width: 70%;
    margin: 0.5em auto;

    .h5p-password-hint-label {
      font-weight: 600;
    }

    .h5p-password-hint {
      display: inline;

      /**
       * The div produced by the WYSIWYG editor
       */
      > div {
        display: inline;
      }
    }
  }

  .h5p-field-input {
    padding: .5em;
    border: 1px solid #7a7a7a;
    background: #fff;
    outline: none;
    font-size: 1em;
    word-wrap: break-word;
    font-weight: bold;
    border-radius: 2px;
  }
  .h5p-password-btn {
    background-color: $interactionBg;
    color: $labelColor;
    position: relative;
    padding: 0.5em 2em;
    line-height: 1;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    box-shadow: 0.2em 0.2em 0.3em rgba(0,0,0,0.2);
    transition: border 100ms linear;
    margin: 0.5em auto;
    &:hover {
      background: $interactionHoverBg;
    }
    &:active {
      background: $activeBg;
    }
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  @keyframes dipDown {
    0% { transform: translate(0, 0);}
    50% { transform: translate(0, 5px);}
    100% { transform: translate(0, 0);}

  }
}
