@import '../../styles/colors';
@import '../../styles/icons';

/* ------------------------------- Summary table style -----------------------------------  */
.h5p-summary-table-holder {
  height: calc(100% - 4.5em);
  margin: 1em;
}

.h5p-summary-table-pages {
  clear: right;
  max-height: 98%;
  border-bottom: 1px solid #ddd;
}

.h5p-score-table tbody {
  border-top: 1px solid #ddd;
}

.h5p-summary-total-table {
  width: 100%;
  position: relative;
  margin-top: 1em;
}

.h5p-summary-total-table p {
  font-weight: bold;
  display: inline;
  margin-right: 1em;
}
.h5p-td.h5p-summary-score-bar {
  text-align: right;
}

.h5p-summary-total-score {
  float: right;
  font-size: 0.6em;
}

.h5p-summary-social {
  float: left;
  font-size: 0.75em;
  padding: 0.25em 0em;
}

.h5p-summary-social .h5p-show-results-text {
  font-size: 0.8em;
  margin-right: 1em;
  color: #999;
}

.h5p-score-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.h5p-td {
  padding: 0.3em;
}

.h5p-score-table tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.h5p-td p {
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
  padding-right: 0.5em;
}

.h5p-summary-table-header {
  text-transform: capitalize;
  font-weight: normal;
  padding-bottom: 1em;
}
.h5p-summary-table-header.slide {
  text-align: left;
  padding-left: 0.42em;
}
.h5p-summary-table-header.score {
  text-align: right;
  padding-right: 1.6em;
}
.h5p-summary-table-header.score span {
  color: #999;
  padding: 0 0.1em;
}

tfoot {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
