@import '../../../../styles/icons';

.btn-wrap {
  pointer-events: auto;
  position: relative;
  float: left;
  font-size: 2em;

  .tooltip {
    padding: 0.25em 1em;
    font-size: 0.4375em;
    background: #000;
    color: #fff;
    position: absolute;
    z-index: 11;
    line-height: 1.75;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 10px;
    pointer-events: none;

    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.1s, opacity 0.1s linear, bottom 0.1s linear, top 0.1s linear;

    .text-wrap {
      max-width: 30em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .tooltip:after {
    display: block;
    background: #000;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 10px;
    content: " ";
    width: 0.75em;
    height: 0.75em;
    position: absolute;
  }
  @mixin tooltip-styling {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  &:hover .tooltip {
    @include tooltip-styling;
  }
  
  &:focus-within .tooltip {
    @include tooltip-styling;
  }
}
.hud-btn {
  font-size: 1em;
  background: #000;
  border-radius: 50%;
  border: 0.1em solid transparent;
  color: #fff;
  width: 1em;
  height: 1em;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: block;
  transition: border-color 100ms, opacity 100ms;
  padding: 0;

  &:before {
    font-family: "360-image";
    content: $noicon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40%;
  }

  &.audio-track:before {
    content: $audioOn;
  }
  &.audio-track.active:before {
    content: $audioOff;
  }

  &.scene-description:before {
    content: $sceneDescription;
  }
  &.reset:before {
    content: $reset;
  }
  &.go-to-start:before {
    content: $goToStart;
  }
  &.score-summary:before {
    content: $scoreSummary;
  }
  &.submit-dialog:before {
    content: " ";
    background-image: url('../../../../../assets/the-h5p-star.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
  }

  &:hover,
  &:focus {
    background-color: #2b2b2b;
  }
  &:active {
    background-color: black;
    border-color: #6d6d6d;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }
}
.hud-bottom-left {
  .hud-btn {
    margin-right: 0.25em;
  }
  .tooltip {
    left: -0.25em;
    bottom: 200%;

    &:after {
      left: 0;
      top: 100%;
      transform: translateX(130%) translateY(-50%) rotate(45deg);
    }
  }
  .btn-wrap:hover .tooltip {
    bottom: 140%;
  }

  .btn-wrap:focus-within .tooltip {
    bottom: 140%;
  }
}
.hud-top-right {
  .tooltip {
    right: 0.25em;
    top: 200%;

    &:after {
      right: 0;
      bottom: 100%;
      transform: translateX(-70%) translateY(50%) rotate(45deg);
    }
  }
  .btn-wrap:hover .tooltip {
    top: 140%;
  }
}
