@font-face {
  font-family: '360-image';
  src:  url('../assets/360-image.eot?nghxo2');
  src:  url('../assets/360-image.eot?nghxo2#iefix') format('embedded-opentype'),
  url('../assets/360-image.ttf?nghxo2') format('truetype'),
  url('../assets/360-image.woff?nghxo2') format('woff'),
  url('../assets/360-image.svg?nghxo2#360-image') format('svg');
  font-weight: normal;
  font-style: normal;
}