@import '../../styles/icons';

.context-menu {
  display: none;
  position: absolute;
  top: -0.5625em;
  transform: translateY(-100%);
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #c4e3f7;
  border: 1px solid #0099ff;
  border-radius: 2px;
  -webkit-filter: drop-shadow(0px 0px 0.25em rgba(44,44,44,0.75));
  filter: drop-shadow(0px 0px 0.25em rgba(44, 44, 44, 0.5));
  z-index: 2;

  &:before {
    position: absolute;
    display: block;
    content: "";
    border-style: solid;
    border-width: 0.6em 0.6em 0 0;
    border-color: #0099ff transparent transparent transparent;
    bottom: -0.6em;
    left: -1px;
  }

  &:after {
    position: absolute;
    display: block;
    content: "";
    border-style: solid;
    border-width: 0.6em 0.6em 0 0;
    border-color: #c4e3f7 transparent transparent transparent;
    bottom: calc(-0.6em + 2px);
    left: 0;
    z-index: 1;
  }

  button {
    font-size: 1em;
    text-align: center;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    background: transparent;
    border: 0.06em solid transparent;
    margin: 0.2em 0.3em;
    padding: 0.2em 0.3em;

    .tooltip {
      display: none;
      position: absolute;
      top: -0.5em;
      left: 50%;
      transform: translate(-50%, -100%);
      background: black;
      color: white;
      padding: 0.25em 0.5em;
      border-radius: 0.2em;
    }
  }

  button:hover {
    border-color: #61bfff;

    .tooltip {
      display: block;
    }

    &:before {
      color: #003c65;
    }
  }

  button:before {
    font-family: "360-image";
    color: #0061a2;
  }

  .go-to-scene:before {
    content: $goToScene;
  }

  .edit:before {
    content: $edit
  }

  .delete:before {
    content: $delete;
  }
}

.nav-button-wrapper {
  &.nav-btn-hotspot {
    .context-menu button {
      font-size: 1.8em;
    }
  }
}

.nav-button-wrapper.focused {
  .nav-button {
    border: .25em solid #70b0ff;
  }

  .context-menu {
    display: block;
  }
}

.nav-button-wrapper.h5p-go-to-scene-button.focused .nav-button {
  border-color: #6d6d6d;
}

.open-content-wrapper.focused {
  .open-content {
    border: .25em solid #70b0ff;
  }

  .context-menu {
    display: block;
  }
}

.open-content-wrapper.left-aligned {
  .context-menu {
    transform: translate(-100%, -100%);
  }

  .context-menu:before {
    left: auto;
    right: 0;
    transform: scaleX(-1);
  }

  .context-menu:after {
    left: auto;
    right: 1px;
    transform: scaleX(-1);
  }
}

