.nav-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
}

.h5p-static-button .nav-button-icon {
  width: 0.5em;
}

.h5p-static-button.bottom-row .nav-button-icon {
  width: 1.25em;
}

.h5p-text-dialog .nav-button-icon {
  width: 1.5em;
}

.outer-nav-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  width: 4.5em;
  height: 4.5em;
  opacity: 0.7;
  border-radius: 50%;
}

.nav-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.nav-button-pulsar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 4.5em;
  height: 4.5em;
  border: 0.3em solid #fff;
  border-radius: 50%;

  cursor: pointer;
}

.nav-button-pulsar:hover {
  animation: nav-button-pulse 1.5s linear infinite;
}

.nav-button-pulsar.no-pulse:hover {
  animation:none;
}

.h5p-static-button {
  position: absolute;
  left: 1em;
  top: 0.75em;
  width: 2em;
  height: 2em;
  z-index: 2;
}

.bottom-row {
  top: auto;
  left: 4em;
  bottom: 0.75em;
}

.h5p-static-button .nav-button-pulsar,
.h5p-static-button .outer-nav-button {
  width: 2em;
  height: 2em;
}

.h5p-static-button .nav-button-pulsar {
  border: 0.15em solid #fff;
}

.h5p-static-button .nav-button {
  width: 1.5em;
  height: 1.5em;
}


.h5p-static-button .nav-button-pulsar:hover {
  animation: static-button-pulsars 1s linear infinite;
}

@keyframes nav-button-pulse {
  0% {
    width: 4.5em;
    height: 4.5em;
    opacity: 1;
  }

  75% {
    width: 5.5em;
    height: 5.5em;
    opacity: 0;
  }

  100% {
    width: 5.5em;
    height: 5.5em;
    opacity: 0;
  }
}

@keyframes static-button-pulsars {
  0% {
    width: 2em;
    height: 2em;
    opacity: 1;
  }

  75% {
    width: 2.5em;
    height: 2.5em;
    opacity: 0;
  }

  100% {
    width: 2.5em;
    height: 2.5em;
    opacity: 0;
  }
}