@import '../../styles/icons';
@import '../../styles/colors';

.nav-button-wrapper {
  position: absolute;
  display: inline-flex;
}

.nav-button {
  position: relative;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  border-radius: 50%;

  background: $buttonBg;
  border: none;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  box-shadow: 0.2em 0.2em 0.3em rgba(0,0,0,0.2);
  transition: border 100ms linear;

  &:hover {
    background: $hoverBg;
  }

  &:active {
    background: $activeBg;
    border: 0.25em solid $activeBorder;
  }
}

.h5p-interaction-button .nav-button {
  background: $interactionBg;

  &:hover {
    background: $interactionHoverBg;
  }

  &:active {
    background: $interactionActiveBg;
    border-color: $interactionActiveBorder;
  }
}

.disabled .nav-button {
  opacity: 0.5;
}

.three-sixty .nav-button {
  font-size: 1.75em;
}

.bottom .nav-button {
  top: auto;
  left: 0.75em;
  bottom: 0.5em;
}

.nav-button:before {
  font-family: "360-image";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 1.25em;
  height: 1.025em;
}

.h5p-question-button .nav-button:before {
  content: $question;
}

.h5p-info-button .nav-button:before {
  content: $info;
  font-size: 1.6em;
}

.h5p-go-to-scene-button .nav-button:before {
  content: $goToScene;
}

.h5p-audio-button .nav-button:before {
  content: $audioOn;
}
.h5p-audio-button.active .nav-button:before {
  content: $audioOff;
}

.h5p-go-back-button {
  top: 1em;
  left: 1em;
}

.h5p-go-back-button .nav-button {
  width: 2em;
  height: 2em;
  border-width: 0.2em;
}

.h5p-go-back-button .nav-button:before {
  content: $goBack;
  font-size: 1em;
}

.h5p-go-back-button .nav-button:active {
  border-color: $activeBorder;
}

.h5p-scene-description-button .nav-button:before {
  content: $sceneDescription;
}
