@import '../../styles/icons';
@import '../../styles/colors';

$labelPadding: 0.5em;
$labelWidth: 9em;

.nav-button-wrapper {
  position: absolute;
  display: inline-flex;
}

.nav-button {
  position: relative;
  font-size: 1em;
  width: $buttonSize;
  height: $buttonSize;
  padding: 0;
  border-radius: 50%;
  line-height: 1;

  background: $buttonBg;
  border: none;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  box-shadow: 0.2em 0.2em 0.3em rgba(0,0,0,0.2);
  transition: border 100ms linear;

  &:hover {
    background: $hoverBg;
  }

  &:active {
    background: $activeBg;
    border: 0.25em solid $activeBorder;
  }
}

.nav-label {
  font-size: 0.9em;
  min-width: 6em;
  max-width: $labelWidth;
  position: absolute;
  line-height: 1.5;
  padding: $labelPadding;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border-radius: 3px;
  background: $labelBg;
  color: $labelColor;

  &-inner {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }
  
  &.is-expanded {
    min-width: $labelWidth;
    .nav-label-inner {
      text-overflow: unset;
      overflow: visible;
      white-space: normal;
    }
  }

  &.can-expand:before,
  &.can-expand:after {
    content: ' ';
    position: absolute;
    border-style: solid;
    display: block;
    border-width: 5px;
    left: 0;
  }

  &.can-expand:before {
    border-color: #fff transparent transparent transparent;
    bottom: -1.5em;
  }

  &.can-expand:after {
    border-color: #000 transparent transparent transparent;
    bottom: calc(-1.5em + 1px);
  }

  &.can-expand.is-expanded:before {
    border-color: transparent transparent #fff transparent;
    bottom: -1.5em;
  }

  &.can-expand.is-expanded:after {
    border-color: transparent transparent #000 transparent;
    bottom: -1.5em;
  }


  &.top {
    width: $labelWidth;
    bottom: ($buttonSize / 2);
    left: -($labelWidth / 2) + 1em;

    .nav-label-inner {
      margin-bottom: $buttonSize / 2;
    } 

    &:before,
    &:after {
      left: 0;
    }
  }

  &.bottom {
    width: $labelWidth;
    top: ($buttonSize / 2);
    left: -($labelWidth / 2)  + 1em;
    .nav-label-inner {
      margin-top: $buttonSize / 2;
    }
  }

  &.left {
    right: $buttonSize / 2;
    top: 0.2em;
    .nav-label-inner {
      margin-right: $buttonSize / 2;
      text-align: left;
    }

    &:before,
    &:after {
      left: calc(50% - (#{$buttonSize} / 2));
    }
  }

  &.right {
    left: $buttonSize / 2;
    top: 0.2em;
    .nav-label-inner {
      padding-left: $buttonSize / 2;
      text-align: left;
    }

    &:before,
    &:after {
      left: calc(50% - (#{$buttonSize} / 2));
    }
  }
}

.nav-button-wrapper.three-sixty .nav-label {
    font-size: 1.8em;
}

.h5p-interaction-button .nav-button {
  background: $interactionBg;

  &:hover {
    background: $interactionHoverBg;
  }

  &:active {
    background: $interactionActiveBg;
    border-color: $interactionActiveBorder;
  }
}

.disabled .nav-button {
  opacity: 0.5;
}

.three-sixty .nav-button {
  font-size: 1.75em;
}

.bottom .nav-button {
  top: auto;
  left: 0.75em;
  bottom: 0.5em;
}

.nav-button:before {
  font-family: "360-image";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 1.25em;
  height: 1.025em;
}

.h5p-question-button .nav-button:before {
  content: $question;
}

.h5p-info-button .nav-button:before {
  content: $info;
  font-size: 1.6em;
}

.h5p-go-to-scene-button .nav-button:before {
  content: $goToScene;
}

.h5p-audio-button .nav-button:before {
  content: $audioOn;
}
.h5p-audio-button.active .nav-button:before {
  content: $audioOff;
}

.h5p-go-back-button {
  top: 1em;
  left: 1em;
}

.h5p-go-back-button .nav-button {
  width: 2em;
  height: 2em;
  border-width: 0.2em;
}

.h5p-go-back-button .nav-button:before {
  content: $goBack;
  font-size: 1em;
}

.h5p-go-back-button .nav-button:active {
  border-color: $activeBorder;
}

.h5p-scene-description-button .nav-button:before {
  content: $sceneDescription;
}
