.h5p-audio-button {
  left: 1em;
}

.nav-button-wrapper.mute .nav-button,
.nav-button-wrapper.mute .outer-nav-button {
  background: #000;
}

.nav-button-wrapper.mute .nav-button-pulsar {
  border-color: #c8c8c8;
}