.image-scene-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: black;
  display: flex;

  .image-scene-wrapper {
    display: inline-block;
    margin: auto;
    height: 100%;
    position: relative;
  }

  .image-scene {
    max-height: 100%;
  }

  .interaction {
    background: white;
  }
}