.h5p-three-sixty-scene .nav-button-wrapper.dragging {

  &:before {
    content: " ";

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 9em;
    height: 9em;

    background: url('../../../assets/moving-icon.svg');
    background-size: 100% 100%;
  }

  &.focused .context-menu {
    display: none;
  }
}

.three-sixty-scene-wrapper {
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .loading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loading-image-wrapper {
    margin: auto;
  }

  .loading-image-wrapper,
  .loading-image-wrapper img {
    width: 7em;
  }
}