.h5p-three-sixty-scene .nav-button-wrapper.dragging {

  &:before {
    content: " ";

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 9em;
    height: 9em;

    background: url('../../../assets/images/moving-icon.svg');
    background-size: 100% 100%;
    font-size: 0.5em;
  }

  &.focused .context-menu {
    display: none;
  }
}

.three-sixty-scene-wrapper {
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27,29,44,0.85);
    color: white;
    z-index: 3;
  }

  .loading-overlay.no-opacity {
    background: rgb(27, 29, 44);
  }

  .loading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loader {
      text-align: center;
    }
  }

  .loading-image-wrapper {
    margin: auto;
  }

  .loading-image-wrapper,
  .loading-image-wrapper img {
    width: 7em;
  }

  .loading-image-wrapper img {
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: spinning;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
