.back-button .nav-button-icon {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.h5p-image-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: black;
  z-index: 1;
}

.h5p-image {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 4;
}