// Buttons
$buttonBg: black;
$interactionBg: #373e94;
$buttonSize: 2.5em;

// labels
$labelBg: rgba(0,0,0,0.7);
$labelColor: #FFF;

// Hover
$hoverBg: #2b2b2b;
$interactionHoverBg: #292e6f;

// Active
$activeBg: black;
$activeBorder: #6d6d6d;

$interactionActiveBg: #1b1f4a;
$interactionActiveBorder: #8587d4;
