// Buttons
$buttonBg: black;
$interactionBg: #373e94;

// Hover
$hoverBg: #2b2b2b;
$interactionHoverBg: #292e6f;

// Active
$activeBg: black;
$activeBorder: #969696;

$interactionActiveBg: #1b1f4a;
$interactionActiveBorder: #8587d4;
