// 360-image
$info: "\e906";
$question: "\e905";
$goToScene: "\e907";
$goBack: "\e903";
$sceneDescription: "\e909";
$audioOn: "\e90a";
$audioOff: "\e904";
$close: "\e916";
$noicon: "\1F605";
$reset: "\e901";
$submitdialog: "\2744";
$noscene: "\e900";

$edit: "\e90f";
$delete: "\e910";

$triangleArrow: "\e913";