// 360-image
$info: "\e906";
$question: "\e905";
$goToScene: "\e907";
$goBack: "\e903";
$sceneDescription: "\e909";
$audioOn: "\e90a";
$audioOff: "\e904";
$close: "\e916";
$noicon: "\1F605";
$rotate: "\1F635";
$submitdialog: "\2744";
