// 360-image
$info: "\e906";
$question: "\e905";
$goToScene: "\e907";
$goToStart: "\e917";
$goBack: "\e903";
$sceneDescription: "\e909";
$audioOn: "\e90a";
$audioOff: "\e904";
$close: "\e916";
$noicon: "\1F605";
$reset: "\e901";
$submitdialog: "\2744";
$noscene: "\e900";
$video: "\e918";
$image: "\e919";
$info-mark: "\e91a";
$lock-icon: "\e91b";
$unlock-icon: "\e91c";
$arrow-horiz-scale: "\e91d";
$arrow-verti-scale: "\e91e";
$text-block: "\e91f";

$edit: "\e90f";
$delete: "\e910";

$triangleArrow: "\e913";
$scoreSummary: "\e912";

$checkmark: "\2713"
